<template>
    <div id="game-main" class="columns">
        <div class="column is-2"></div>
        <div class="column">
            <transition name="slide-fade">
                <div v-show="!stateTransition" class="state-text title is-4" v-html="playerStateText"></div>
            </transition>

            <transition name="slide-fade">
                <div v-show="message" v-html="message" class="message title is-4 fadeOut"></div>
            </transition>

            <div v-show="!message && !stateTransition" class="options">

                <a v-if="stateItems.length || player.state.choices" @click="lookAround" class="button is-info">Look Around</a>

                <div v-if="hasLooked">
                    <div class="items">
                        <div v-for="i in stateItems">
                            <a @click="inspectItem(i)" class="button">Inspect {{i.item.name}}</a>
                            <span v-if="i.inspected">
                                <span v-if="i.choices">
                                    <a v-for="choice in i.choices" @click="itemChoice(choice)" class="button is-warning">{{choice.text}}</a>
                                </span>
                                <span v-if="!i.choices">
                                    <a v-for="choice in i.item.choices" @click="itemChoice(choice)" class="button is-warning">{{choice.text}}</a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="choices">
                        <div v-for="choice in player.state.choices">
                            <a @click="stateChoice(choice)" class="button is-primary">{{choice.text}}</a>
                        </div>

                    </div>

                </div>
            </div>

            <transition name="bounce">
                <h1 v-if="!stateItems.length && !player.state.choices" class="title is-1">GAME OVER</h1>
            </transition>
        </div>
        <div class="column is-2"></div>
    </div>
</template>

<script>
    import gameStates from '../game-states.json'
    import gameItems from '../game-items.json'
    const directions = {
        'right': 'to the right',
        'left': 'to the left',
        'front': 'in front',
        'back': 'behind'
    };
    export default {
        props: ['playerName'],
        data(){
            return {
                player: {
                    name: this.playerName,
                    state: gameStates.begin,
                    items: [
                        'wetSock'
                    ]
                },
                stateTransition: true,
                stateItems:[],
                hasLooked: false,
                message: null
            }
        },
        computed: {
            playerStateText(){
                return this.player.state.text.replace('{{playerName}}', '<u>' +this.player.name + '</u>');
            }
        },
        methods: {
            setState(state) {
                let sItem;
                var instance = this;
                this.stateItems.splice(0);
                this.stateTransition = true;
                setTimeout(function(){
                    instance.player.state = gameStates[state];
                    if(instance.player.state.items){
                        instance.player.state.items.forEach( function(i) {
                            sItem = {};
                            Object.assign(sItem, i);
                            sItem.item = gameItems[i.id];
                            sItem.direction = directions[i.dir];
                            instance.stateItems.push(sItem);
                        })
                    }
                    instance.hasLooked = instance.player.state.hasLooked ? true : false;

                    instance.stateTransition = false;
                }, 1000);
            },
            lookAround() {
                var instance = this;
                var message = '';
                var time = 9000;
                this.hasLooked = true;
                this.player.state.hasLooked = true;

                if(this.player.state.inspect){
                    message += '<p>' + this.player.state.inspect + '</p>';
                }
                if(this.stateItems.length){
                    message += '<p>You see';
                    this.stateItems.forEach( function(i, index){
                        message += ' a ' + i.item.name + ' ' + i.direction;
                        if(index === instance.stateItems.length-2){
                            message += ', and'
                        }
                        else if(index !== instance.stateItems.length-1){
                            message += ',';
                        }

                    });
                    message += ' of you.</p>';

                }
                if(!message.length){
                    message = 'It\'s really not very interesting.';
                    time = 3000;
                }
                this.setMessage(message, time);
            },
            inspectItem(stateItem){
                let message;
                if(stateItem.inspect){
                    message = stateItem.inspect;
                }
                else {
                    message = stateItem.item.inspect || 'It\'s a ' + stateItem.item.name;
                }
                this.setMessage(message, 6000);
                stateItem.inspected = true;
            },
            setMessage(message, time) {
                var instance = this;
                time = time || 10000;
                this.message = message;

                setTimeout(function(){
                    instance.message = null;
                }, time);
            },
            itemChoice(choice){
                if(choice.resultState){
                    this.setState(choice.resultState);
                }
                else {
                    this.setMessage('Okay', 1500);
                }
            },
            stateChoice(choice){
                if(choice.resultState){
                    this.setState(choice.resultState);
                }
            }
        },
        created() {
            this.setState('begin');
        }
    }
</script>

<style lang="scss">
    #game-main {
        margin-top: 3vh;
        .state-text {
            color: #ddd;
        }
        .message {
            padding: 15px;
        }
        .options {
            a {
                margin: 10px;
            }
        }
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active for <2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
</style>
