<template>
    <div class="hello">
        <h2 class="title is-2 fade-first">
            Cool Comics <big>&</big> Hunter Alger
            <br>
            <small><i>Proudly Present</i></small>
        </h2>
        <h1 class="title is-1 fade-second">- ADVENTURE GAME! -</h1>
        <div class="columns">
            <div class="column is-one-fourth"></div>
            <div>
                <div class="panel fade-last">
                    <div class="">
                        <p class="field">Enter Your Character's Name To Begin</p>
                        <div class="field">
                            <input type="text" class="input" v-model="name">
                        </div>
                        <div class="field">
                            <a @click="beginGame" class="button is-info"> BEGIN!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-one-fourth"></div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'hello',
    data () {
        return {
            name: null
        }
    },
    methods: {
        beginGame(){
            if(this.name) {
                this.$emit('nameSet', this.name)
            }
        }
    }
}
</script>


<style lang="scss">
    h1 {
        font-size: 7vw;
        color: #00eeff;
    }
    h2{
        font-size:3vw;
        margin-top: 10vh;
        color: #ddd;
        small {
            font-weight: normal;
            font-size: .8em;
        }
    }
    .panel {
        margin-top: 10vh;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .fade-first {
        animation: fadein 6s;
    }
    .fade-second {
        opacity: 0;
        animation: fadein .5s forwards;
        animation-delay: 6s;
    }
    .fade-last {
        opacity: 0;
        animation: fadein .1s forwards;
        animation-delay: 7s;
    }

</style>
