<template>
  <div id="app">

      <hello v-if="!name" @nameSet="setName"></hello>

      <GameMain v-if="name" :playerName="name"></GameMain>

  </div>
</template>

<script>
import Hello from './components/Hello.vue'
import GameMain from './components/GameMain.vue'

export default {
    name: 'app',
    components: {
        Hello,
        GameMain
    },
    data(){
        return {
            name: null
        }
    },
    methods:{
        setName(name){
            this.name = name;
        }
    }
}
</script>

<style lang="scss">
    body, html{
        margin: 0;
        height: 100%;
        background: black;
        color: white;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: white;
        height: 100%;
    }

    .panel {
        .panel-block {
            color: white;
        }
    }
</style>
